<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts/noto-sans.css') }}">
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <a class="brand" href="/">
                        <img class="brand-logo-light" src="static/img/branding-334x78.png" srcset="static/img/branding-334x78.png 2x" alt="" width="334" height="78" />
                    </a>
                    <br />
                    <br />
                    <p>Ce projet &agrave; &eacute;t&eacute; r&eacute;aliser par Ethan Besson dans le cadre du module 164.</p>
                    <!-- Rights-->
                    <p class="rights">&copy;
                        <span class="copyright-year">2024</span>&nbsp;Southlabs Inc. - All Rights Reserved.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>84101, Salt Lake City, USA</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:ethan.besson@eduvaud.ch">ethan.besson@eduvaud.ch</a></dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="/about">About</a></li>
                    <li><a href="https://github.com/InstaZDLL">Projects</a></li>
                    <li><a href="https://github.com/InstaZDLL/FlaskWebS">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Credit to https://bootsnipp.com/snippets/2eMK5 -->
