<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Modify Material</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts/roboto-font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animated_background.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.tagselect.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="/static/js/jquery-3.7.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.tagselect.js"></script>
    <style>
         .portainer {
             display: flex;
             justify-content: center;
             align-items: center;
             z-index: 2;
             width: auto;
             margin: 0 auto 70px;
        }
         form {
             margin-bottom: 20px;
             background-color: #f2f2f2;
             padding: 20px;
             border-radius: 10px;
             box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
         .end-btn {
             display: block;
             margin: 20px auto 0;
             width: 150px;
             height: 45px;
             border-radius: 45px;
             cursor: pointer;
             border: none;
             text-transform: uppercase;
             letter-spacing: 2px;
             font-weight: bold;
             box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
             transition: all 0.3s ease;
        }
         .end-btn:hover{
             background:#2ceae5;
             transform:translateY(-7px);
             color:#fff;
             box-shadow:0px 10px 25px rgba(46,223,229,0.445);
        }
         input[type="text"] {
             display: block;
             padding: 5px;
             font-size: 16px;
             border: 1px solid #ccc;
             border-radius: 5px;
             box-shadow: inset 0 1px 3px #ddd;
             background-color: #fff;
             width: 100%;
             max-width: 500px; /* Increase this value */
        }
         input[type="datetime-local"] {
             display: block;
             padding: 5px;
             font-size: 16px;
             border: 1px solid #ccc;
             border-radius: 5px;
             box-shadow: inset 0 1px 3px #ddd;
             background-color: #fff;
             width: 100%;
             max-width: 500px; /* Increase this value */
        }
    </style>
</head>

<body>
    <ul class="horizontal">
        <li><a href="/">Project Modulus 164</a></li>
        <li><a href="/stock">Stock</a></li>
        <li><a href="/personnes">Personnes</a></li>
        <li><a href="/marques">Marques</a></li>
        <li><a class="active" href="/materiel">Matériel</a></li>
        <li class="rightli" style="float:right"><a href="/about">À propos</a></li>
        <li class="rightli" style="float:right"><a href="/404">404</a></li>
    </ul>
    <div class="rounded-box">
        <div style="padding-left: 30px;">
            <h1>Modify Marque</h1>
            <p>Page de modification de données.</p>
        </div>
    </div>
    <div class="portainer">
        <form action="{{ url_for('materiel.modify_materiel_form') }}" method="post">
            {{ form.csrf_token }}

            <input type="hidden" name="old_id_mat" value="{{ request.args.get('id') }}">

            <label for="{{ form.id_mat.id }}">{{ form.id_mat.label.text }}:</label><br>
            {{ form.id_mat(class="form-control") }}<br><br>

            <label for="{{ form.nom_mat.id }}">{{ form.nom_mat.label.text }}:</label><br>
            {{ form.nom_mat(class="form-control") }}<br><br>

            <label for="{{ form.model_mat.id }}">{{ form.model_mat.label.text }}:</label><br>
            {{ form.model_mat(class="form-control") }}<br><br>

            <label for="{{ form.serial_num.id }}">{{ form.serial_num.label.text }}:</label><br>
            {{ form.serial_num(class="form-control") }}<br><br>

            <label for="date_achat">{{ form.date_achat.label.text }}:</label><br>
            <input type="datetime-local" id="date_achat" name="date_achat"><br><br>

            <label for="date_expi">{{ form.date_expi.label.text }}:</label><br>
            <input type="datetime-local" id="date_expi" name="date_expi"><br><br>

            <label for="{{ form.prix_mat.id }}">{{ form.prix_mat.label.text }}:</label><br>
            {{ form.prix_mat(class="form-control") }}<br><br>

            <label for="nom_cat">{{ form.nom_cat.label.text }}:</label><br>
            <div class="qtagselect">
              <select id="nom_cat" name="nom_cat" class="qtagselect__select">
                {% for category in categories %}
                  {% if category == data.nom_cat %}
                    <option value="{{ category }}" selected>{{ category }}</option>
                  {% else %}
                    <option value="{{ category }}">{{ category }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <input type="submit" value="Modifier" class="end-btn">
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // get the form element
            let form = document.getElementById("modify-form");

            // attach the submit event listener to the form
            form.addEventListener("submit", function(event) {
                // get the new ID value
                let newId = document.getElementById("id_mat").value;

                // get the old ID value from a hidden input field
                let oldId = document.getElementById("old_id_mat").value;

                // check if the new ID is different from the old ID
                if (newId !== oldId) {
                    // make an AJAX request to check if the ID already exists
                    let xhr = new XMLHttpRequest();
                    xhr.open("GET", "/check_id?id=" + newId, true);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                            let response = xhr.responseText;
                            if (response === "exists") {
                                // display an alert message
                                alert("ID already exists. Please choose a different ID.");
                                event.preventDefault(); // prevent form submission
                            } else {
                                // continue with form submission
                                form.submit();
                            }
                        }
                    };
                    xhr.send();
                    event.preventDefault(); // prevent default form submission
                }
            });
        });
    </script>
    <script>
        $(function() {
            // initialize the tag select
            let tagselect = $('.qtagselect__select').tagselect({
                'isOpen': false,
                'maxTag': 1,
            });

            // add an event listener for the change event
            $('.qtagselect__select').on('change', function() {
                // console.log("Selected value:", $(this).val()); // event logging in the console
                // destroy and re-initialize the tag select
                tagselect.tagselect('destroy');
                tagselect = $('.qtagselect__select').tagselect({
                    'isOpen': false,
                    'maxTag': 1,
                });
            });
        });

        // get a reference to the select element
        let selectElement = document.querySelector("#nom_cat");

        // get the selected value from the tagselect box
        let selectedValue = selectElement.value;

        // The regexp that applied to all form fields
        document.querySelector("form").addEventListener("submit", function(event) {
            let idMatInput = document.querySelector("#id_mat");
            let idMatRegex = /^\d+$/;
            if (!idMatRegex.test(idMatInput.value)) {
                alert("Invalid input for id_mat");
                event.preventDefault();
            }

            let nomMatInput = document.querySelector("#nom_mat");
            let nomMatRegex = /^.{1,255}$/;
            if (!nomMatRegex.test(nomMatInput.value)) {
                alert("Invalid input for nom_mat");
                event.preventDefault();
            }

            let modelMatInput = document.querySelector("#model_mat");
            let modelMatRegex = /^.{1,255}$/;
            if (!modelMatRegex.test(modelMatInput.value)) {
                alert("Invalid input for model_mat");
                event.preventDefault();
            }

            let serialNumInput = document.querySelector("#serial_num");
            let serialNumRegex = /^.{1,255}$/;
            if (!serialNumRegex.test(serialNumInput.value)) {
                alert("Invalid input for serial_num");
                event.preventDefault();
            }

            let dateAchatInput = document.querySelector("#date_achat");
            let dateAchatRegex = /.+/;
            if (!dateAchatRegex.test(dateAchatInput.value)) {
                alert("Invalid input for date_achat");
                event.preventDefault();
            }

            let dateExpiInput = document.querySelector("#date_expi");
            let dateExpiRegex = /.+/;
            if (!dateExpiRegex.test(dateExpiInput.value)) {
                alert("Invalid input for date_expi");
                event.preventDefault();
            }

            let prixMatInput = document.querySelector("#prix_mat");
            let prixMatRegex = /^\d{1,12}$/;
            if (!prixMatRegex.test(prixMatInput.value)) {
                alert("Invalid input for prix_mat");
                event.preventDefault();
            }

            let nomCatInput = document.querySelector("#nom_cat");
            let nomCatRegex = /.+/;
            if (!nomCatRegex.test(nomCatInput.value)) {
                alert("Invalid input for nom_cat");
                event.preventDefault();
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            // Validate date fields to ensure that the expiration date is greater than the purchase date
            document.querySelector("form").addEventListener("submit", function(event) {
                let dateAchat = new Date(document.querySelector("#date_achat").value);
                let dateExpi = new Date(document.querySelector("#date_expi").value);
                if (dateExpi <= dateAchat) {
                    alert("La date d'expiration doit être supérieure à la date d'achat.");
                    event.preventDefault();
                } else {
                    // convert the date values to the ISO format
                    document.querySelector("#date_achat").value = dateAchat.toISOString().slice(0, 16);
                    document.querySelector("#date_expi").value = dateExpi.toISOString().slice(0, 16);
                }
            });

            // pre-fill the form with the existing data for this material
            let data = {{data | tojson}};

            // format the date values
            let dateAchat = new Date(data.date_achat);
            let dateExpi = new Date(data.date_expi);
            let timezoneOffset = dateAchat.getTimezoneOffset() * 60000;
            let dateAchatFormatted = new Date(dateAchat.getTime() - timezoneOffset).toISOString().slice(0, 16);
            let dateExpiFormatted = new Date(dateExpi.getTime() - timezoneOffset).toISOString().slice(0, 16);

            // pre-fill the form fields
            document.querySelector("#id_mat").value = data.id_mat;
            document.querySelector("#nom_mat").value = data.nom_mat;
            document.querySelector("#model_mat").value = data.model_mat;
            document.querySelector("#serial_num").value = data.serial_num;
            document.querySelector("#date_achat").value = dateAchatFormatted;
            document.querySelector("#date_expi").value = dateExpiFormatted;
            document.querySelector("#prix_mat").value = data.prix_mat;
            document.querySelector("#nom_cat").value = data.nom_cat;
        });
    </script>
    {% include '/miscellaneous/background-boxes.html' %}
    {% include '/miscellaneous/footer.html' %}
</body>

</html>
