<div class="floating-container">
  <div class="floating-button">
    <i class="material-icons">add</i>
  </div>
  <div class="element-container">
    <a>
    </a>
    <a href="mailto:example@example.com" class="float-element">
      <i class="material-icons">mail</i>
    </a>
    <a href="https://example.com/chat" class="float-element">
      <i class="material-icons">recycling</i>
    </a>
  </div>
</div>


<!-- Backup
<div class="floating-container">
  <div class="floating-button">
    <i class="material-icons">add</i>
  </div>
  <div class="element-container">
    <a href="tel:1234567890" class="float-element">
      <i class="material-icons">phone</i>
    </a>
    <a href="mailto:example@example.com" class="float-element">
      <i class="material-icons">mail</i>
    </a>
    <a href="https://example.com/chat" class="float-element">
      <i class="material-icons">chat</i>
    </a>
  </div>
</div> -->