<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Modify Material</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts/roboto-font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animated_background.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.tagselect.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.tagselect.js"></script>
    <style>
        .portainer {
               display: flex;
               justify-content: center;
               align-items: center;
               z-index: 2;
               width: auto;
               margin: 0 auto 70px;
            }

            form {
                background-color: #f2f2f2;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
    </style>
</head>

<body>
    <ul class="horizontal">
        <li><a href="/">Project Modulus 164</a></li>
        <li><a href="/materiel">Matériel</a></li>
        <li><a href="/personnes">Personnes</a></li>
        <li><a href="/marques">Marques</a></li>
        <li><a class="active" href="/categorie">Catégorie</a></li>
        <li class="rightli" style="float:right"><a href="/about">À propos</a></li>
    </ul>
    <div class="rounded-box">
        <div style="padding-left: 30px;">
            <h1>Modify Marque</h1>
            <p>Page de modification de données.</p>
        </div>
    </div>
    <div class="portainer">
        <form action="{{ url_for('modify_materiel') }}" method="post">
            {{ form.csrf_token }}
            <label for="{{ form.id_mat.id }}">{{ form.id_mat.label.text }}:</label><br>
            {{ form.id_mat(class="form-control") }}<br><br>

            <label for="{{ form.nom_mat.id }}">{{ form.nom_mat.label.text }}:</label><br>
            {{ form.nom_mat(class="form-control") }}<br><br>

            <label for="{{ form.model_mat.id }}">{{ form.model_mat.label.text }}:</label><br>
            {{ form.model_mat(class="form-control") }}<br><br>

            <label for="{{ form.serial_num.id }}">{{ form.serial_num.label.text }}:</label><br>
            {{ form.serial_num(class="form-control") }}<br><br>

            <label for="date_achat">{{ form.date_achat.label.text }}:</label><br>
            <input type="datetime-local" id="date_achat" name="date_achat"><br><br>

            <label for="date_expi">{{ form.date_expi.label.text }}:</label><br>
            <input type="datetime-local" id="date_expi" name="date_expi"><br><br>

            <label for="{{ form.prix_mat.id }}">{{ form.prix_mat.label.text }}:</label><br>
            {{ form.prix_mat(class="form-control") }}<br><br>

            <label for="{{ form.nom_cat.id }}">{{ form.nom_cat.label.text }}:</label><br>
            {{ form.nom_cat(class="form-control") }}<br><br>

            <input type="submit" value="Modifier" class="btn btn-primary">
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Validate date fields to ensure that the expiration date is greater than the purchase date
            document.querySelector("form").addEventListener("submit", function(event) {
                let dateAchat = new Date(document.querySelector("#date_achat").value);
                let dateExpi = new Date(document.querySelector("#date_expi").value);
                if (dateExpi <= dateAchat) {
                    alert("La date d'expiration doit être supérieure à la date d'achat.");
                    event.preventDefault();
                } else {
                    // convert the date values to the ISO format
                    document.querySelector("#date_achat").value = dateAchat.toISOString();
                    document.querySelector("#date_expi").value = dateExpi.toISOString();
                }
            });

            // pre-fill the form with the existing data for this material
            let data = {{ data|tojson }};

            // format the date values
            let dateAchat = new Date(data.date_achat);
            let dateExpi = new Date(data.date_expi);
            let dateAchatFormatted = dateAchat.toISOString().slice(0, 16);
            let dateExpiFormatted = dateExpi.toISOString().slice(0, 16);

            // pre-fill the form fields
            document.querySelector("#id_mat").value = data.id_mat;
            document.querySelector("#nom_mat").value = data.nom_mat;
            document.querySelector("#model_mat").value = data.model_mat;
            document.querySelector("#serial_num").value = data.serial_num;
            document.querySelector("#date_achat").value = dateAchatFormatted;
            document.querySelector("#date_expi").value = dateExpiFormatted;
            document.querySelector("#prix_mat").value = data.prix_mat;
            document.querySelector("#nom_cat").value = data.nom_cat;
        });
    </script>
    {% include '/actions/background-boxes.html' %}
    {% include 'footer.html' %}
</body>

</html>