<!DOCTYPE html>
<html lang="fr">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animated_background.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="/static/js/jquery-3.6.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="horizontal">
        <li><a href="/">Project Modulus 164</a></li>
        <li><a href="/materiel">Matériel</a></li>
        <li><a href="/marques">Marques</a></li>
        <li class="rightli active" style="float:right"><a href="/about">À propos</a></li>
    </ul>
    <div class="rounded-box">
        <div style="padding-left: 30px;">
            <h1>Ma page à propos</h1>
        </div>
    </div>
    <p>&nbsp;</p>
    {% include '/actions/background-boxes.html' %}
    <div class="content">
        <h2 class="text_shadows">hey c'est vide ici ;)</h2>
    </div>
    {% include 'footer.html' %}
</body>
</html>